{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <img width="320" height="240" class="card-img-top" src="{{ post.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}