{% extends 'admin/base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>

    <a href="{{ path('admin/users_list') }}">Users list</a>

    <a href="{{ path('app_logout') }}">Exit</a>

{% endblock %}